<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297755056675-1eskdfc567j9f0kib5ecj5di0ijj8jqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297755056675-1eskdfc567j9f0kib5ecj5di0ijj8jqo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297755056675-prn8tl0ln3e7lem8hj9m3t4mbnsu67ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaNTwdP6mN1jraCsf-3FhG_0PJ8U5vjvg</string>
	<key>GCM_SENDER_ID</key>
	<string>297755056675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.photogram</string>
	<key>PROJECT_ID</key>
	<string>photogram-bc707</string>
	<key>STORAGE_BUCKET</key>
	<string>photogram-bc707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297755056675:ios:bdac78d88dbfa59e0b6f96</string>
</dict>
</plist>